# Ignore everything
/*

# Allow only web-publishable folders
!/docs/
!/web/

# Allow root files needed for GitHub Pages
!/.gitignore
!/index.html
!/CNAME
!/favicon.png
!/apple-touch-icon.png

# OS files
.DS_Store
**/.DS_Store
