@font-face {
    font-family: 'ProTracker';
    src: url('../assets/protracker.woff2') format('woff2'),
         url('../assets/protracker.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
